.section {
  width: 45%;
  height: auto;
  padding: 60px;
  border-radius: 20%;
  font-family: Geneva;
  color: rgb(75, 0, 130);
  margin: 5px auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0.2rem rgb(131, 131, 131);
  -moz-box-shadow: 0px 0px 0.2rem rgb(131, 131, 131);
  box-shadow: 0 0 0.2rem rgb(131, 131, 131);
}
.error {
  color: #ff433f !important;
  font-size: 0.9em;
  margin: 3px 0;
}

.main-content {
  margin: 89px auto;
  /* height: 100vh; */
}
.main-content h1 {
  color: rgb(29, 7, 42);
}

form div label {
  display: block;
}

form > div {
  margin-bottom: 15px;
}

input,
textarea {
  font-size: 1em;
  width: 100%;
  padding: 5px;
  color: rgb(29, 7, 42);
  border: 1px solid rgb(106, 11, 173);
  height: 40px;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  /* outline: 1px solid rgb(75, 0, 130); */
  outline: unset;
}
textarea {
  resize: vertical;
  height: 90px !important;
}

input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  outline: none;
  border: unset;
  color: #ffffff;
  border-radius: 1px;
  background-color: rgb(29, 7, 42);
}

/*mobile view*/
@media only screen and (max-width: 750px) {
  .section {
    /* margin-top: 90px; */
    padding: 45px;
    width: 98%;
    /* height: 370px; */
  }
}

/* medium view */
@media only screen and (min-width: 750px) and (max-width: 1300px) {
  .section {
    padding: 50px;
    width: 68%;
  }
}
